*.DS_Store
theme/config.yml
.idea/
*.DS_Store
*.code-workspace
supplymap/config/initializers/shopify_app.rb
supplymap/config/database.yml
supplymap/app.yaml
supplymap/public/*
supplymap/config/database.yml
supplymap/config/initializers/shopify_app.rb
supplymap/config/client-cert.pem
supplymap/config/client-key.pem
supplymap/config/server-ca.pem
map_production/config/*
map_production/public/*
.DS_Store
*.yml
*.yaml
*.pem
ngrok

