<!-- /templates/page.our-story.liquid -->
<header class="section-header text-center">
  <h1>{{ page.title }}</h1>
  <hr class="hr--small">
</header>

<div class="rte">
  {{ page.content }}
</div>
 

{% section 'our-story-title' %}

{% section 'our-story-section-1' %}

{% section 'our-story-section-2' %}

{% section 'our-story-section-3' %}

{% section 'our-story-section-4' %}

{% section 'our-story-section-5' %}

{% section 'instagram-feed' %}


{% section 'featured-blog' %}


