<div class="container">
  <div class="row">
    <div class="col-md-6">
      Suppliers
    </div>
    <div class="col-md-6">
      Supply Chains
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="list-group">
        <%= Supplier.find_each do |s| %>
        <a href="#" class="list-group-item active">
          <!-- <%= image_tag s.image.url, class: "img-thumbnail" %> -->
          <h4 class="list-group-item-heading">First List Group Item Heading</h4>
          <p class="list-group-item-text">List Group Item Text</p>
        </a>
        <% end %>
      </div>

    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>
