<p>
  <%= link_to suppliers_path, class: "btn btn-success btn-sm" do %>
    <i class="glyphicon glyphicon-plus"></i>
    <span>Suppliers</span>
  <% end %>
</p>

<p>
  <%= link_to supply_chains_path, class: "btn btn-success btn-sm" do %>
    <i class="glyphicon glyphicon-plus"></i>
    <span>SupplyChains</span>
  <% end %>
</p>
