 {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2 class="h1 section-header__title">{{ section.settings.title | escape }}</h2>
      <hr class="hr--small">
    </div>
    {% endif %}

{% schema %}
  {
    "name": "Section name",
    "settings": [
		{
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Printing Process - Sections"
        }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
