<style>
  .resize{
	width:250px;
    height: auto;  
  }
</style>

<div id="map" style="width: 100%; height: 500px;"></div> 
<p id="status"></p>
<ol id="demo"></ol>

<script type="text/javascript"> 
  
  function initMap() {

    //Map styling
    var styledMapType = new google.maps.StyledMapType(
      [
        {
          featureType: "administrative",
          elementType: "labels",
          stylers: [
            { visibility: "off" }
          ]
        },{
          featureType: "poi",
          elementType: "labels",
          stylers: [
            { visibility: "off" }
          ]
        },
        {
          featureType: "road",
          elementType: "labels",
          stylers: [
            { visibility: "off" }
          ]
        },
        {
          featureType: 'road',
          elementType: 'geometry',
          stylers: [
            {visibility: "off"}
          ]
        }
      ],
      {name: 'Supply Map'}
    );



    //initialize the map
    var map = new google.maps.Map(document.getElementById('map'), {
      mapTypeControl: false, //disables switching of map topography
      center: new google.maps.LatLng(0, 0), //default centering, is changed later
      zoom: 5,
      mapTypeId: 'mystyle'
    });

    map.mapTypes.set('styled_map', styledMapType);
    map.setMapTypeId('styled_map');

    //html content of the info window as a string
    var contentStringUnique = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h1 id="firstHeading" class="firstHeading">McGill University</h1>'+
        '<div id="bodyContent">'+
        '<p><b>McGill University</b>,  is a coeducational public research university in Montreal, Quebec, Canada. '+
        'It was established in 1821 by royal charter, granted by King George IV. The University bears the name of James McGill, '+
        'a Montreal merchant originally from Scotland whose bequest in 1813 formed the university precursor, McGill College.</p>'+
        '<p>Attribution: McGill University, <a href="https://en.wikipedia.org/wiki/McGill_University">'+
        'https://en.wikipedia.org/wiki/McGill_University</a> '+
        '</p>'+
        '</div>'+
        '<div>'+
        '<img class="resize" src="{{ 'campus.jpg' | file_url }}">'+
        '</div>'+
          '</div>';

    //initialize the info window
    //TODO: add products picture, style it
    var infowindowUnique = new google.maps.InfoWindow({
      content: contentStringUnique,
      maxWidth: 300
    });

    //Geocode gets the coordinates of the given address
    var geocoder = new google.maps.Geocoder();

    //center the map onto Montreal
    geocoder.geocode({'address': "Montreal"}, function(results, status) {
      if (status === 'OK') {
        map.setCenter(results[0].geometry.location);
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });

    //add a marker at McGill University
    geocoder.geocode({'address': "McGill University"}, function(results, status) {
      if (status === 'OK') {
        //once the address is obtained, create a marker on the specified map
        var marker = new google.maps.Marker({
          position: results[0].geometry.location,
          map: map
        });
        //add a listener to that particular marker
        marker.addListener('click', function() {
          infowindowUnique.open(map, marker);

        });

      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
    
    var json = '{"status":"SUCCESS","message":"Loaded all suppliers data","data":[{"id":1,"name":"Lanister","product_kind":"Shirts","description":"Always pay your debts","supply_chain_id":1,"lattitude":"-77.03","longitude":"38.895","created_at":"2018-03-09T18:08:36.385Z","updated_at":"2018-03-09T18:08:36.385Z","order":1},{"id":2,"name":"Stark","product_kind":"hoodies","description":"Winter is coming","supply_chain_id":2,"lattitude":"23.4","longitude":"-20.4","created_at":"2018-03-09T18:08:36.394Z","updated_at":"2018-03-09T18:08:36.394Z","order":1},{"id":3,"name":"Targarian","product_kind":"jackets","description":"Our queen is 10/10 better than your queen","supply_chain_id":3,"lattitude":"15.4","longitude":"5.9","created_at":"2018-03-09T18:08:36.398Z","updated_at":"2018-03-09T18:08:36.398Z","order":1},{"id":4,"name":"Tyrell","product_kind":"bags","description":"Margaery noooooooooo \u003c/3","supply_chain_id":2,"lattitude":"4.42","longitude":"10.3","created_at":"2018-03-09T18:08:36.402Z","updated_at":"2018-03-09T18:08:36.402Z","order":2},{"id":5,"name":"Baratheon","product_kind":"hunting equipment","description":"Invade! Oh... ok maybe not","supply_chain_id":1,"lattitude":"-78.3","longitude":"56.4223","created_at":"2018-03-09T18:08:36.406Z","updated_at":"2018-03-09T18:08:36.406Z","order":3},{"id":6,"name":"Greyjoy","product_kind":"Bathing Suits","description":"Just keep swimming","supply_chain_id":1,"lattitude":"-77.03","longitude":"38.895","created_at":"2018-03-09T18:08:36.410Z","updated_at":"2018-03-09T18:08:36.410Z","order":2},{"id":7,"name":"Lanister","product_kind":"Shirts","description":"Always pay your debts","supply_chain_id":1,"lattitude":"-77.03","longitude":"38.895","created_at":"2018-03-09T18:15:47.589Z","updated_at":"2018-03-09T18:15:47.589Z","order":1},{"id":8,"name":"Stark","product_kind":"hoodies","description":"Winter is coming","supply_chain_id":2,"lattitude":"23.4","longitude":"-20.4","created_at":"2018-03-09T18:15:47.594Z","updated_at":"2018-03-09T18:15:47.594Z","order":1},{"id":9,"name":"Targarian","product_kind":"jackets","description":"Our queen is 10/10 better than your queen","supply_chain_id":3,"lattitude":"15.4","longitude":"5.9","created_at":"2018-03-09T18:15:47.598Z","updated_at":"2018-03-09T18:15:47.598Z","order":1},{"id":10,"name":"Tyrell","product_kind":"bags","description":"Margaery noooooooooo \u003c/3","supply_chain_id":2,"lattitude":"4.42","longitude":"10.3","created_at":"2018-03-09T18:15:47.602Z","updated_at":"2018-03-09T18:15:47.602Z","order":2},{"id":11,"name":"Baratheon","product_kind":"hunting equipment","description":"Invade! Oh... ok maybe not","supply_chain_id":1,"lattitude":"-78.3","longitude":"56.4223","created_at":"2018-03-09T18:15:47.609Z","updated_at":"2018-03-09T18:15:47.609Z","order":3},{"id":12,"name":"Greyjoy","product_kind":"Bathing Suits","description":"Just keep swimming","supply_chain_id":1,"lattitude":"-77.03","longitude":"38.895","created_at":"2018-03-09T18:15:47.615Z","updated_at":"2018-03-09T18:15:47.615Z","order":2}]}';
    var jsonData = JSON.parse(json);
    var list = document.getElementById('demo');

    var infowindow = new google.maps.InfoWindow();

    var marker, i;
    
    for(i = 0; i< 5; i++){
      var entry = document.createElement('li');
      locations = jsonData.data;
      entry.appendChild(document.createTextNode(locations[i].name + ", Lat: " + locations[i].lattitude + ", Long:" +locations[i].longitude));
      list.appendChild(entry);
      
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(jsonData.data[i].lattitude, jsonData.data[i].longitude),
        map: map
      });
      
      
      google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
        return function() {
          var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">'+jsonData.data[i].name+'</h1>'+
            '<div id="bodyContent">'+
            '<p>'+jsonData.data[i].description+
            '</p>'+
            '</div>'+
            '</div>';
          infowindow.setContent(contentString);
          infowindow.open(map, marker);
        }
      })(marker, i));
            
      google.maps.event.addListener(marker, 'mouseout', (function(marker, i) {
        return function() {
          infowindow.close(map, marker);
        }
      })(marker, i));
    }
  }
  

  //Proof of concept of a GET request to our API
//   var xhttp = new XMLHttpRequest();
//   xhttp.onreadystatechange = function() {
//     if (this.readyState == 4) {
//       if(this.status == 200 || this.status == 304){
//         var obj = JSON.parse(this.responseText);
//         document.getElementById("status").innerHTML = this.responseText;
//         alert("GET REQUEST SUCCESS MESSAGE: "+obj.message);
//       }
//     }
//   };
//   xhttp.open("GET", "https://1787ff02.ngrok.io/supply_chain", true);
//   xhttp.send();

</script>



<!-- make API KEY a variable editable -->
<script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgXduZYCxQxxBXDQ5S87uUWL4OIMaNA9I&callback=initMap">
</script>

{% schema %}
  {
    "name": "Map",
    "class": "index-section index-map-section",
    "settings": [
      {
        "type": "header",
        "content": "Text"
      },
      {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Our store"
      },
      {
        "id": "api_key",
        "type": "text",
        "label": "Google Maps API key",
        "info": "You’ll need to [register a Google Maps API Key](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) to display the map"
      }      
    ],
    "presets": [
      {
        "name": "Map",
        "category": "Store information"
      }
    ]
  }
{% endschema %}
