<!DOCTYPE html>
<html>
<head>
    <style>
        #map {
            height: 700px;
            width: 100%;
            margin-bottom: 20px;
        }

        #floating-panel {
            background: #fff;
            padding: 10px;
            font-size: 14px;
            border: 1px solid #ccc;
            box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
            display: none;
            margin-top: 1%;
            margin-left: 1%;
            margin-bottom: 1%;
            height: 85%;
            overflow-y: scroll;
            max-width: 20%;

        }

        #grid_suppliers h5 {
            text-align: center;
        }

        #grid_suppliers .col-3 {
            width: 100%;
            margin: 3%;
            padding: 1%;
            border: 1px solid #ccc;
        }

        .full-width {
            max-width: 100%;
            margin: auto;
        }

        #supplier{
            text-align: center;
        }

        #info{
            text-align: justify;
        }
    </style>
{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
{{ 'map.js' | asset_url | script_tag }}


</head>
<body>
<div class="bootstrap full-width">
    <div style="padding-top: 20px"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div id="floating-panel">
                    <h3>Products</h3>
                        <ol id="demo"></ol>
                        <div class="list-group" id="list"></div>
                </div>
                <div id="map"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h3>Some information</h3>
                <p id="info">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel leo ut nisi pellentesque rutrum
                    at porttitor sem. Nam eros dolor, sodales eu nulla id, dapibus volutpat leo. Sed tincidunt quam quis
                    magna elementum, nec tempor turpis bibendum. Donec sodales gravida est, id finibus nisi euismod sed.
                    Vestibulum aliquet ut nunc non sagittis. Pellentesque magna eros, iaculis et ultrices eget, aliquam
                    in lectus. In consequat, ligula non elementum molestie, sapien dui tincidunt dui, a malesuada neque
                    nunc vitae velit. Pellentesque non leo eu arcu viverra consequat. Integer a viverra mi. Donec a
                    turpis nunc. Donec non placerat urna. Praesent sagittis lorem facilisis ex molestie, eu pretium
                    felis convallis. Vestibulum sapien eros, efficitur id condimentum et, mollis nec nisi. Duis eget
                    massa eget dui feugiat volutpat. Curabitur at ex id sem rutrum consequat. Donec ipsum odio, finibus
                    id sem et, gravida sollicitudin ante.

                </p>
            </div>
            <div class="col-10">
                <h3 id="supplier">Suppliers</h3>
                <div class="row" id="grid_suppliers">
                </div>
            </div>
        </div>
    </div>
</div>



<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgXduZYCxQxxBXDQ5S87uUWL4OIMaNA9I&callback=initMap&libraries=geometry">
</script>

</body>
</html>