<div class="media">
  <div class="media-body">
    <h4><%= @supplier.name %> | &nbsp; <small><%= @supplier.id %></small></h4>
    <h5>Type: <%= @supplier.product_kind || "unknown" %></h5>
    <p><%= @supplier.description %></p>
  </div>
</div>