<!-- /templates/page.press.liquid -->
<div class="grid">

    <header class="section-header text-center">
      <h1>{{ page.title }}</h1>
      <hr class="hr--small">
    </header>

    <div class="rte rte--nomargin rte--indented-images">
      {{ page.content }}
    </div>
  
</div>


{% section 'press-section-grid-1' %}

{% section 'press-section-grid-2' %}

{% section 'press-section-grid-3' %}

{% section 'press-section-grid-4' %}